{{#each recipes as |recipe|}}
<div class = 'handlebars'>
  <section>
    <h1> {{recipe.name}} </h1>
    <p> Id:{{recipe.id}} </p>
    <p> Prep Time: {{recipe.prep_time}} </p>
    <p> Cook Time: {{recipe.cook_time}} </p>
    <p> Serving Size: {{recipe.serving_size}} </p>
    <p> Pot Mode: {{recipe.pot_mode}} </p>
    <p> Pot Pressure: {{recipe.pot_pressure}} </p>
    <p> Ingredients: {{recipe.ingredient}} </p>
    <p> Prep Instructions: {{recipe.prep_instruction}} </p>
    <p> User: {{recipe.user.email}} </p>
    <img class ="img-fluid" alt="Responsive image" src="{{recipe.photo}}">

  </section>

  <form class="deleteRecipe">
    <input class="form-control" type="integer" name="id" placeholder="Recipe Id">
    <input class="form-control" type="submit" value="Delete Recipe">
  </form>

  <form class="recipeUpdate" class="border">
    <input class="form-control" type="integer" name="id" placeholder="Id">
    <input class="form-control" type="text" name="name" placeholder="Name">
    <input class="form-control" type="integer" name="prep_time" placeholder="Preparation Time">
    <input class="form-control" type="integer" name="cook_time" placeholder="Cook Time">
    <input class="form-control" type="integer" name="serving_size" placeholder="Serving Size">
    <input class="form-control" type="text" name="pot_mode" placeholder="Pot Mode">
    <input class="form-control" type="text" name="pot_pressure" placeholder="Pot Pressure">
    <input class="form-control" type="text" name="ingredient" placeholder="Ingredients">
    <input class="form-control" type="text" name="prep_instruction" placeholder="Preparation Instructions">
    <input class="form-control" type="text" name="photo" placeholder="Photo">
    <input type="submit" value="Update">
  </form>

</div>

{{/each}}
