{{#each recipes as |recipe|}}
<div class='handlebars'>
<div class='recipeSelectArea'>
<section data-id="{{recipe.id}}">
    <h1> {{recipe.name}} </h1>
    <p class="text-center handlebarsHeader"> Prep Time: {{recipe.prep_time}},</p>
    <p class="text-center handlebarsHeader"> Cook Time: {{recipe.cook_time}},</p>
    <p class="text-center handlebarsHeader"> Serving Size: {{recipe.serving_size}}</p>
    <img class ="img-fluid" alt="Responsive image" src="{{recipe.photo}}">
</div>
  {{#if recipe.editable}}

<div data-id="{{recipe.id}}" data-name="{{recipe.name}}" data-prep_time="{{recipe.prep_time}}" data-cook_time="{{recipe.cook_time}}" data-serving_size="{{recipe.serving_size}}" data-pot_mode="{{recipe.pot_mode}}" data-pot_pressure="{{recipe.pot_pressure}}" data-ingredient="{{recipe.ingredient}}" data-prep_instruction="{{recipe.prep_instruction}}" data-photo="{{recipe.photo}}">
  <div class="messages"></div>
  <button type="button" class="btn btn-outline-secondary updateRecipeButton" data-toggle="modal" data-target="#recipeUpdateModal">Update Recipe</button>
  <button type="button" class="btn btn-outline-danger deleteRecipe">Delete Recipe</button>
</div>

{{else}}

<div></div>

{{/if}}
</section>
</div>

{{/each}}
