<div class = "handlebars">
  <section>
    <h1> {{recipe.name}} </h1>
    <p> Id:{{recipe.id}} </p>
    <p> Prep Time: {{recipe.prep_time}} </p>
    <p> Cook Time: {{recipe.cook_time}} </p>
    <p> Serving Size: {{recipe.serving_size}} </p>
    <p> Pot Mode: {{recipe.pot_mode}} </p>
    <p> Pot Pressure: {{recipe.pot_pressure}} </p>
    <p> Ingredients: {{recipe.ingredient}} </p>
    <p> Prep Instructions: {{recipe.prep_instruction}} </p>
    <p> User: {{recipe.user.email}} </p>
    <img class ="img-fluid" alt="Responsive image" src="{{recipe.photo}}">

  </section>

</div>
