<div class = 'handlebars shadow'>
<section data-id="{{recipe.id}}">
    <h1> {{recipe.name}} </h1>
    <p> Prep Time: {{recipe.prep_time}} </p>
    <p> Cook Time: {{recipe.cook_time}} </p>
    <p> Serving Size: {{recipe.serving_size}} </p>
    <p> Pot Mode: {{recipe.pot_mode}} </p>
    <p> Pot Pressure: {{recipe.pot_pressure}} </p>
    <p> Ingredients: {{recipe.ingredient}} </p>
    <p> Prep Instructions: {{recipe.prep_instruction}} </p>
    <p> User: {{recipe.user.email}} </p>
    <img class ="img-fluid" alt="Responsive image" src="{{recipe.photo}}">


<div data-id="{{recipe.id}}" data-name="{{recipe.name}}" data-prep_time="{{recipe.prep_time}}" data-cook_time="{{recipe.cook_time}}" data-serving_size="{{recipe.serving_size}}" data-pot_mode="{{recipe.pot_mode}}" data-pot_pressure="{{recipe.pot_pressure}}" data-ingredient="{{recipe.ingredient}}" data-prep_instruction="{{recipe.prep_instruction}}" data-photo="{{recipe.photo}}">
  <div class="messages"></div>
  {{#if recipe.editable}}
  <button type="button" class="btn btn-outline-secondary updateRecipeButton" data-toggle="modal" data-target="#recipeUpdateModal">Update Recipe</button>
  <button type="button" class="btn btn-outline-danger deleteRecipe">Delete Recipe</button>
  <button type="button" class="btn btn-outline-secondary showRecipes">Back</button>
</div>
{{else}}

<div>
<button type="button" class="btn btn-outline-secondary showRecipes">Back</button>
</div>

{{/if}}
</section>
</div>
