{{#each recipes as |recipe|}}
<div class = 'handlebars'>
  <section>
    <h1> {{recipe.name}} </h1>
    <p> Id:{{recipe.id}} </p>
    <p> Prep Time: {{recipe.prep_time}} </p>
    <p> Cook Time: {{recipe.cook_time}} </p>
    <p> Serving Size: {{recipe.serving_size}} </p>
    <p> Pot Mode: {{recipe.pot_mode}} </p>
    <p> Pot Pressure: {{recipe.pot_pressure}} </p>
    <p> Ingredients: {{recipe.ingredient}} </p>
    <p> Prep Instructions: {{recipe.prep_instruction}} </p>
    <p> User: {{recipe.user.email}} </p>
    <img class ="img-fluid" alt="Responsive image" src="{{recipe.photo}}">

  </section>

  {{#if recipe.editable}}
<div>

    <form class="deleteRecipe">
      <input type="integer" name="id" placeholder="Recipe Id (Input Number)">
      <input type="submit" value="Delete Recipe">
    </form>

  <button type="button" class="btn btn-primary updateRecipeButton" data-toggle="modal" data-target="#recipeUpdateModal">Update Recipe</button>
</div>

{{else}}
<div></div>
{{/if}}

</div>

{{/each}}
